<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electronic.boot.mapper.OrnamentMarketMapper">

    <resultMap id="BaseResultMap" type="com.electronic.boot.bean.OrnamentMarket">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sellMinPrice" column="sell_min_price" jdbcType="DECIMAL"/>
            <result property="sellNum" column="sell_num" jdbcType="INTEGER"/>
            <result property="iconUrl" column="icon_url" jdbcType="VARCHAR"/>
            <result property="exteriorId" column="exterior_id" jdbcType="INTEGER"/>
            <result property="exteriorInternalName" column="exterior_internal_name" jdbcType="VARCHAR"/>
            <result property="exteriorLocalizedName" column="exterior_localized_name" jdbcType="VARCHAR"/>
            <result property="qualityId" column="quality_id" jdbcType="INTEGER"/>
            <result property="qualityInternalName" column="quality_internal_name" jdbcType="VARCHAR"/>
            <result property="qualityLocalizedName" column="quality_localized_name" jdbcType="VARCHAR"/>
            <result property="rarityId" column="rarity_id" jdbcType="INTEGER"/>
            <result property="rarityInternalName" column="rarity_internal_name" jdbcType="VARCHAR"/>
            <result property="rarityLocalizedName" column="rarity_localized_name" jdbcType="VARCHAR"/>
            <result property="typeId" column="type_id" jdbcType="INTEGER"/>
            <result property="typeInternalName" column="type_internal_name" jdbcType="VARCHAR"/>
            <result property="typeLocalizedName" column="type_localized_name" jdbcType="VARCHAR"/>
            <result property="weaponId" column="weapon_id" jdbcType="INTEGER"/>
            <result property="weaponInternalName" column="weapon_internal_name" jdbcType="VARCHAR"/>
            <result property="weaponLocalizedName" column="weapon_localized_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,sell_min_price,
        sell_num,icon_url,exterior_id,
        exterior_internal_name,exterior_localized_name,quality_id,
        quality_internal_name,quality_localized_name,rarity_id,
        rarity_internal_name,rarity_localized_name,type_id,
        type_internal_name,type_localized_name,weapon_id,
        weapon_internal_name,weapon_localized_name
    </sql>
</mapper>
